import React from 'react';
import Item from './Item';

const ItemList = ({ items, updateItems, deleteItem }) => {
  let items = items.map( item => {
    return (<Item key={item.id} {...item} updateItem={updateItem} deleteItem={deleteItem} />)
  })

  return (
    <div className="row">
      {items}
    </div>
  )
}


export default ItemList;

